h2 {
    color: aquamarine;
    background-color: #27787c;
}

button {
    color: black;
    background-color: chartreuse;
}

p {
    color: rgb(0, 0, 255);
    background: orange;
}

body {
    background-color: rgba(27, 168, 210, 0.344);
}